body {
    background-color: blue;
    font-size: large;
    font-style: normal;
}

#submit-form {
    font-style: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}